@page
@model BIGrades.Streams.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stream</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Stream.StreamNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stream.StreamNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stream.Groups)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Group</th>
                    <th>Students Content</th>
                </tr>
                @foreach (var item in Model.Stream.Groups)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupNumber)
                        </td>
                        <td>
                            @item.StudentEnrollments.Count(e => e.Active)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stream.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
