@page
@using System.Text.RegularExpressions
@model BIGrades.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FacultyNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FacultyNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.MidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.MidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.PIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.PIN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.EnrollmentDate)
            <hr/>
        </dd>
        <dt>
            The student is registered
        </dt>
        <dd>
            <table class="table">
                <thead>
                <tr>
                    <th>Group</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var enrollment in Model.Student.Enrollments)
                {
                    <tr>
                        <td>@Html.DisplayTextFor(e => enrollment.Group)</td>
                        <td>@Html.CheckBox("isActive", enrollment.Active)</td>
                    </tr>
                    
                }
                </tbody>
            </table>
        </dd>
        <dt>
            @Html.DisplayName("Grades")
        </dt>
        <dd>
            @foreach (var subject in Model.CourseGrade)
            {
                @Html.DisplayTextFor(model => subject.Key)
                <hr/>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    @foreach (var grade in subject.Value)
                    {

                        <td>
                            @Html.DisplayTextFor(model => grade.Assignment.Name)
                        </td>
                        <td>
                            @Html.DisplayTextFor(model => grade.Value)
                        </td>
                        <tr/>
                    }
                    </tbody>
                </table>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
