﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Administration</h2>
        <ul>
            <li><a href="#">Year of education</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Programs</a></li>
            <li><a href="#">AssignmentType</a></li>
            <li><a href="#">Assignment</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Students</h2>
        <ul>
            <li><a href="/Streams/">Streams</a></li>
            <li><a href="#">Groups</a></li>
            <li><a href="#">StudentEnrollments</a></li>
            <li><a href="#">EduProgramEnrollment</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Grades</h2>
        <ul>
            <li><a href="/Students/">Student</a></li>
            <li><a href="#">Grades</a></li>
        </ul>
    </div>
</div>